* {
    /* border-style: solid;
    border-color: black; */
}

html {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

body {
    height: 55rem;
    width: 40rem;
    border-style: solid;
    border-color: black;
}

#poster_body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.poster_row {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.external_block {
    height: 100%;
    width: 22%;
    margin: 0;
    padding: 0;
}

.internal_block {
    height: 100%;
    width: 28%;
    margin: 0;
    padding: 0; 
}

.brown_gray {
    background-color: #b8b1a5;
}

.gray {
    background-color: #ccc9c2;
}

.greenish_gray {
    background-color: #bac2bc;
}

.darkish_gray {
    background-color: #ada9a1;
}

.dark_gray {
    background-color: #918d86;
}

.peach {
    background-color: #f5a595;
}

.tan {
    background-color: #f2c4a0;
}

.beige {
    background-color: #e8cc9e;
}

.light_gray {
    background-color: #e6e4e3;
}

.second_layer {
    z-index: 2;
}

.third_layer {
    z-index: 3;
}

.fourth_layer {
    z-index: 4;
}

.half_circle {
    width: 100%;
    height: 100%;
    border-radius: 50% 0 0 50%;
}

.half_circle_most {
    width: 90%;
    height: 100%;
    border-radius: 50% 0 0 50%;
}

.half_circle_half {
    width: 60%;
    height: 100%;
    border-radius: 50% 0 0 50%;
}

.half_circle_quarter {
    width: 50%;
    height: 100%;
    border-radius: 50% 0 0 50%;
}

.half_circle_quarter_inverse {
    width: 50%;
    height: 100%;
    border-radius: 0 50% 50% 0;
}

.half_circle_inverse {
    width: 100%;
    height: 100%;
    border-radius: 0 50% 50% 0;
}

.rectangle {
    width: 45%;
    height: 100%;
}

#oval {
    width: 50%;
    height: 100%;
    background: green;
    border-radius: 100px / 50px;
}

#rectangle_align_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#rectangle_align_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.half_circle_triangle_row {
    display: flex;
    flex-direction: row;
}

.half_circle_align_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.half_circle_align_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#top_triangle_bottomleft1 {
    width: 0;
    height: 0;
    border-bottom: 15rem solid #fcdccc;
    border-right: 7rem solid transparent;
}

#top_triangle_bottomleft2 {
    width: 0;
    height: 0;
    border-bottom: 13.8rem solid #5bd983;
    border-right: 8.8rem solid transparent;
}

.top_triangle_bottomleft3 {
    width: 0;
    height: 0;
    border-bottom: 13.8rem solid black;
    border-right: 5rem solid transparent;
}

#bottom_triangle_bottomleft {
    width: 0;
    height: 0;
    border-bottom: 13.8rem solid #faaa98;
    border-right: 8.8rem solid transparent;
}

#downward_triangle {
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 9rem solid transparent;
    border-top: 12rem solid #f2c4a0;
}

#triangle_right {
    width: 0;
    height: 0;
    border-top: 6.9rem solid transparent;
    border-left: 5.8rem solid #5ebf5e;
    border-bottom: 6.9rem solid transparent;
  }

#quarter_circle {
    border-radius: 0 0 200px 0;
    width: 99%;
    height: 95%;
    margin-bottom: 2rem;
}

#quarter_circle2 {
    border-radius: 0 0 200px 0;
    width: 99%;
    height: 100%;
    margin-bottom: 2rem;
}

#quarter_circle3 {
    border-radius: 200px 0 0 0;
    width: 99%;
    height: 100%;
    margin-bottom: 2rem;
}

#demi_circle2 {
    border-radius: 200px 200px 0 0;
    width: 100%;
    height: 50%;
}

.align_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pink {
    background-color: #fc81b6;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: #5ebf5e;
}

.yellow {
    background-color: #f4f5b0;
}

.turquoise {
    background-color: #affaf6;
}