* {
    /* border-style: solid;
    border-color: black; */
}

html {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

body {
    height: 45rem;
    width: 30rem;
    border-style: solid;
    border-color: black;
}

#poster_body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.poster_row {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.external_block {
    height: 100%;
    width: 20%;
    margin: 0;
    padding: 0;
}

.internal_block {
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0; 
}

.brown_gray {
    background-color: #b8b1a5;
}

.gray {
    background-color: #ccc9c2;
}

.greenish_gray {
    background-color: #bac2bc;
}

.darkish_gray {
    background-color: #ada9a1;
}

.dark_gray {
    background-color: #918d86;
}

.peach {
    background-color: #f5a595;
}

.tan {
    background-color: #f2c4a0;
}

.beige {
    background-color: #e8cc9e;
}

.light_gray {
    background-color: #e6e4e3;
}

.second_layer {
    z-index: 2;
}

.third_layer {
    z-index: 3;
}

.fourth_layer {
    z-index: 4;
}

.half_circle {
    width: 100%;
    height: 100%;
    border-radius: 50% 0 0 50%;
}

.half_circle_half {
    width: 70%;
    height: 100%;
    border-radius: 50% 0 0 50%;
}

.half_circle_quarter {
    width: 50%;
    height: 100%;
    border-radius: 50% 0 0 50%;
}

.rectangle {
    width: 45%;
    height: 100%;
}

#oval {
    width: 50%;
    height: 100%;
    background: green;
    border-radius: 100px / 50px;
}

#rectangle_align_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#rectangle_align_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.half_circle_align_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#top_triangle_bottomleft1 {
    width: 0;
    height: 0;
    border-bottom: 12rem solid #fcdccc;
    border-right: 7rem solid transparent;
}

#top_triangle_bottomleft2 {
    width: 0;
    height: 0;
    border-bottom: 11.5rem solid #5bd983;
    border-right: 5rem solid transparent;
}

#top_triangle_bottomleft3 {
    width: 0;
    height: 0;
    border-bottom: 11.2rem solid black;
    border-right: 3.5rem solid transparent;
}

#bottom_triangle_bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100% solid #faaa98;
    border-right: 100% solid transparent;
}

#downward_triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 120px solid transparent;
    border-top: 180px solid #f2c4a0;
}

#quarter_circle {
    border-radius: 0 0 200px 0;
    width: 99%;
    height: 95%;
    margin-bottom: 2rem;
}

#quarter_circle2 {
    border-radius: 0 0 200px 0;
    width: 99%;
    height: 100%;
    margin-bottom: 2rem;
}


.pink {
    background-color: #fc81b6;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}